@media screen and (min-width: 550px) {
    body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        background-image: url(/imgs/bg/Component\ 1.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.logos{
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(var(--tmdbDarkBlue), 1);
    height: 64px;
    z-index: 1000;
}

.logos-container {
    min-width: 750px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
}

.log1 {
    max-width: 160px;
    margin: 5px;
}

.log2 {
    max-width: 160px;
    margin: 0%;
}